#C/C++
*.exe
*.o
*.obj
*.out
*.a
*.lib
*.dll
*.so
*.dylib
*.pdb
*.ilk
*.py
#Wyniki
results.csv
results_1m.csv
*.log
preview.txt


#wykresy
report/
plots/

#LaTeX
*.aux
*.lof
*.lot
*.toc
*.bbl
*.blg
*.fls
*.fdb_latexmk
*.synctex.gz
*.out
*.nav
*.snm
*.vrb
*.pdf

#Python
__pycache__/
*.pyc
*.pyo
.pytest_cache/
.venv/
venv/

#Edytory
.vscode/
.idea/
*.swp
*.swo
Thumbs.db
.DS_Store
